/* SECTION */
.container-section{
  @apply container mx-auto mt-7;
}

/* NAV */
.nav-responsive {
    @apply fixed lg:relative lg:inset-x-0 left-0 right-0 bottom-0 top-[80px] lg:top-0  px-[60px] py-[34px] lg:p-0 bg-black bg-opacity-90;
}

/* BUTTONS */
.btn-primary {
    @apply bg-primary font-medium text-white px-9 py-5 uppercase hover:bg-opacity-90 transition-all;
}
.btn-gray {
  @apply bg-gray font-medium text-white px-9 py-5 uppercase hover:bg-opacity-90 transition-all;
}

.btn-line {
  color: #fff;
  background: transparent;
  position: relative;
  padding-left: 2rem;
  transition: all 0.3s ease;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
  }
  
  &:hover {
    opacity: 0.8;
  }
}


.btn-link {
    @apply text-xs md:text-sm xl:text-base font-normal m-0 py-5 lg:py-0 mx-3 xl:mx-5  hover:text-primary-light border-b-2 border-transparent hover:border-primary-light uppercase;
}

/* CUSTOM HEADINGS */
.heading-padded{
    @apply text-3xl mb-6 uppercase;
}

.heading-mid {
    @apply text-center text-4xl py-10 pb-5;
}


/* FULL GRID OF 4 */
.grid-4 {
    @apply grid grid-cols-2 lg:grid-cols-4 gap-4 pb-8 lg:py-20 lg:pt-14 text-gray text-center;

    & .icon-card {
      @apply flex flex-col items-center justify-center lg:p-6 rounded shadow grayscale hover:grayscale-0 transition-all; 

   
      & img {
        @apply h-14 w-14 mb-4 transition-all duration-700;
        &:hover {
          transform: rotate(72deg);
        }
      }


      & .icon-title {
        @apply text-lg lg:text-xl text-white font-semibold mb-2 max-w-40 uppercase leading-snug;
      }
    }
}


/* ITEMS MINI-CARDS */
.mini-card {
    @apply hover:bg-opacity-60 transition-all duration-500 py-9 flex-1 max-w-64 rounded-2xl flex items-center justify-center w-5/12 lg:w-auto;
}


/* SLICK - SLIDER */

.slick-dots {
  @apply flex justify-center items-center gap-2 mt-4 mb-4 p-0;
}

.slick-dots li {
  @apply list-none m-0 p-0;
}

.slick-dots li button {
  @apply w-3 h-3 p-0 rounded-full  bg-gray cursor-pointer transition-colors duration-200;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  @apply bg-primary;
}


/* FOOTER */
.repeat-stroke-logo {
  @apply w-full bg-repeat bg-center;
  height: 106px;
  background-size: 55px;
  background-position: top center;
}


/* SPLIT HERO */
.hero-section {
  @apply relative transition-all;

  &-overlay {
    @apply absolute inset-0 bg-black bg-opacity-60 group-hover:bg-opacity-40 transition-all duration-300;
  }

  &-content {
    @apply relative z-10 flex flex-col items-center justify-center h-full text-white px-8;
  }

  &-icon {
    @apply h-16 w-16 mb-4 inline-block;

    &-hover {
      @apply hidden group-hover:inline-block;
    }

    &-default {
      @apply group-hover:hidden;
    }
  }

  &-title {
    @apply mt-2 mb-7 text-center;
  }

  &-button {
    @apply btn-gray group-hover:bg-primary;
  }
}

.w-stech {
  width: 49%;
}
/* CONTACT FORM */
.stech-contact-form {
  @apply text-white p-8 rounded-lg ;
  .flex{
    @apply gap-x-3 justify-between;
  }
}

.stech-contact-form input[type="text"],
.stech-contact-form input[type="email"],
.stech-contact-form input[type="tel"],
.stech-contact-form textarea {
  @apply w-full p-5 border border-border-color rounded-xl bg-transparent
   text-white placeholder-gray focus:border-0 focus:outline-none focus:ring-2
    focus:ring-primary;
}

.stech-contact-form textarea {
  @apply h-32 resize-none;
}

.stech-contact-form input[type="submit"] {
  @apply btn-primary w-full;
} 