/* DEFAULT STYLES */

article>*:not(.entry-content),
.entry-content>* {
    @apply mx-auto max-w-content;
}

.entry-content,
.block-editor-block-list__layout {

    p,
    ul,
    ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}


/* CUSTOM RESTYLING */

body {
    font-family: 'Chillax', sans-serif;
}

p,
li,
a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    @apply text-white text-4xl md:text-5xl font-semibold uppercase;
}

h2 {
    @apply text-white text-3xl md:text-4xl font-semibold uppercase;
}

h3 {
    @apply text-white text-lg md:text-2xl font-semibold uppercase;
}

h4 {
    @apply text-white text-lg md:text-xl font-semibold uppercase;
}

/* MINOR CUSTOMIZATION */

.w-logo {
    @apply w-36 text-6xl;
}

body {
    line-height: 1.2em;
}

/* MENU NAVIGATION */
.menu-item {
    @apply text-xs md:text-sm xl:text-base font-normal m-0 py-5 lg:py-0 mx-3 xl:mx-5 hover:text-primary-light uppercase;
    span{
       @apply inline-block pb-1 m-auto border-b-2 border-transparent hover:border-primary-light text-nowrap;
    }
}

.current-menu-item {
    span{
        @apply text-primary border-b-2 border-primary;
     }
}


.floria-sub {
    @apply sub-menu left-0 right-0 lg:left-auto lg:right-auto rounded-3xl
        absolute hidden group-hover:block
        bg-dark text-light border border-primary px-1 pt-4 pb-2 shadow-lg top-5 z-50;

    a span{
        @apply leading-snug pb-3;

    }

    .menu-item{
        @apply text-base md:text-sm m-0 p-0 !important;
    }
}


.rounded-4xl {
    border-radius: 3rem;
}

.rounded-4xl-top {
    border-radius: 3rem 3rem 0 0;
}

.leaf-1 {
    @apply absolute -top-24 -left-20 w-56 md:-top-24 md:-left-20 md:w-60;
}

.leaf-2 {
    @apply absolute -top-24 -right-16 w-40 md:-top-24 md:right-auto md:left-1/2 md:w-40;
}

.leaf-3 {
    @apply absolute -right-5 -bottom-12 w-24 md:right-24 md:-bottom-16 md:w-28;
}

.bigass-shadow {
    box-shadow: -9px 0 58px 42px rgba(0, 0, 0, 0.56);
}


/* SLIDER */
.slick-slide {
    width: 20%;
}

.slick-slide:not(.slick-center) {

    filter: grayscale(100%);
}


/* SCROLLBAR STYLING */
/* Webkit (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f1eb00;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #767676;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #ababab;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #767676 #f5f1eb00;
}

/* Edge and IE */
* {
    -ms-overflow-style: auto;
}

*::-ms-scrollbar {
    width: 12px;
}

*::-ms-scrollbar-track {
    background: #f5f1eb00;
}

*::-ms-scrollbar-thumb {
    background-color: #767676;
}

*::-ms-scrollbar-thumb:hover {
    background: #ababab;
}