/* DEFAULT STYLES */

article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}


/* CUSTOM RESTYLING */
body{
    font-family: 'Chillax', sans-serif;
}

p, li, a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    @apply text-5xl md:text-6xl font-semibold uppercase;
}

h2 {
    @apply text-3xl md:text-4xl font-semibold uppercase;
}

h3 {
    @apply text-xl md:text-2xl font-semibold uppercase;
}

h4 {
    @apply text-xl md:text-2xl font-semibold uppercase;
}

.w-logo {
    @apply w-32;
}

body {
    line-height: 1.2em;
}

.rounded-4xl{
    border-radius: 3rem;
}


.bigass-shadow{
    box-shadow: -9px 0 58px 42px rgba(0, 0, 0, 0.56);   
}

.slick-slide{
    width: 20%;
}

.slick-slide:not(.slick-center) {

    filter: grayscale(100%);
}


@media (min-width: $breakpoint--global-header) {
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: none !important;
	}
	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: block !important;
		width: 100%;
		position: relative;
		z-index: auto;
		background-color: inherit;
	}
}